<hr class="linea" size="5px" color="white"  />

      <div id="conteiner">
        <p style="font-size: 20px"><Strong>EXPERIENCIA LABORAL:</Strong></p>
        <ul><p style="font-size: 19px ;"> <u>Cines multiplex</u> </p>
          <li id="multiplex">Puesto: Acomodador de ascientos y limpieza de salas de cine</li>
          <li id="multiplex">Descripcion de Actividades: Ayudar a las personas a encontrar sus respectivos ascientos para poder mantener cierto orden y que puedan disfrutar la pelicula.</li>
          <li id="multiplex">Tiempo: Febrero-2022 a Agosto-2022</li>
        </ul>
        <ul><p style="font-size:19px;"> <u> Tecnoset (SERVICIO ESPECIALIZADO TECNOLOGICO)</u></p>
        <li id="tecnoset">Puesto: Vendedor y manejo de redes sociales </li>
        <li id="tecnoset">Descripcion de actividades: vendia sus productos, a la par que respodia dudas del usuario ,via Facebook ,acerca de estos </li>
        <li id="tecnoset">Tiempo: Mayo-2021 a Julio-2022</li>
      </ul>

      </div>