#multiplex{
    margin-left: 15px;
}
#tecnoset{
    margin-left: 15px; 
}
#conteiner{
    margin-top: 0px;
    background-color: rgb(252, 252, 252);
    padding-bottom: 20px;
    
}
.linea{
    opacity:100 ;
    margin-top: 50px;
    margin-left: 5cm;
    margin-right: 5cm;
}