<nav class="navbar bg-light">
    <div class="container-fluid">
      <img id="logoAp" src={{Ap}} alt="logoAp" width="120px " height="60px" ><span class="navbar-brand mb-0 h1">PORTAFOLIO WEB</span><a id="logoig" href="https://www.instagram.com/maxi.corvalan12/"><img  src={{ig}} alt="logoig" width="40px"></a> <a href="https://www.linkedin.com/in/maximo-corvalan-874656234/"><img id="logogmail" src={{gmail}} alt="gmail" width="40px" ></a> <button id="boton"><a href="https://api.whatsapp.com/send?phone=1165306328"><img id="logowsp" src={{wsp}} alt="wsp"></a></button> <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" id="boton" ><svg id="login"  xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
      </svg>
    </button>
      <a href="" ><svg   xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg></a>
      
    
    </div>
  </nav>
  <app-login></app-login>
  