<nav class="navbar bg-light">
    <div class="container-fluid">
      <img id="logoAp" src="assets/img/ap.jpg" alt="logoAp" width="120px " height="60px" ><span class="navbar-brand mb-0 h1">PORTAFOLIO WEB</span><a id="logoig" href="https://www.instagram.com/maxi.corvalan12/"><img  src="assets/img/ig.jpg" alt="logoig" width="40px"></a> <a href=""><img id="logogmail" src="assets/img/gmail.jpg" alt="gmail" width="45px" ></a><a href="https://api.whatsapp.com/send?phone=1165306328"><img id="logowsp" src="assets/img/wsp.png" alt="wsp"></a> <svg  id="login"  xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
      </svg>
       
    </div>
  </nav>