<div id="conteiner">
    <p style="font-size: 19px ;"><strong>SKILLS</strong></p>
    
  <div class="progress" style="width:700px ;">
    <div class="progress-bar" role="progressbar" style="width:80%" >
       <strong>80% HTML</strong> 
    </div>
  
  </div>

  <div class="progress" style="width:700px ;">
    <div class="progress-bar" role="progressbar" style="width: 75%" >
       <strong>75% CSS</strong> 
    </div>

  </div>
  

<div class="progress" style="width:700px ;">
  <div class="progress-bar" role="progressbar" style="width:40%" >
     <strong>50% JAVASCRIPT</strong> 
  </div>
</div>

<div class="progress" style="width:700px ;">
  <div class="progress-bar" role="progressbar" style="width:40%" >
     <strong>50% TYPESCRIPT</strong> 
  </div>
  
</div>


</div>