<div id="conteiner">
    <p style="font-size: 19px ;"><strong>{{skill}}</strong></p>
    
  <div class="progress" style="width:700px ;">
    <div class="progress-bar" role="progressbar" style="width:80%" >
       <strong>{{progress3}}</strong> 
    </div>
  
  </div>

  <div class="progress" style="width:700px ;">
    <div class="progress-bar" role="progressbar" style="width: 75%" >
       <strong>{{progress2}}</strong> 
    </div>

  </div>
  

<div class="progress" style="width:700px ;">
  <div class="progress-bar" role="progressbar" style="width:40%" >
     <strong>{{progress}}</strong> 
  </div>
</div>

<div class="progress" style="width:700px ;">
  <div class="progress-bar" role="progressbar" style="width:40%" >
     <strong>{{progress4}}</strong> 
  </div>
  
</div>


</div>